#screen {
    background-image: url('https://i.imgur.com/Gih5lW7.png');
    background-size: 600px 700px;
    align-items: center;
    justify-content: center;
}

#alert {
    width:80%;
    height: 60%;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#text {
    margin-bottom: 50px ;
    text-align: center;
    font-size: larger;
}

#button {
    width: 150px;
    height: 50px;
    background-color: rgb(0,255,255);
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}